/* @import "bootstrap/dist/css/bootstrap.min.css"; */
@import "./sidebar.css";
@import "./project.css";
@import "./projects-forms.css";
@import "./assignments.css";
@import "./recives-HW.css";
@import "./students.css";
@import "./studyingbooks.css";
@import "./sendnotification.css";
@import "./stastics.css";
@import "./archive.css";
@import "./profile.css";
@import "./chattingGroup.css";
@import "./mainAdmin.css";
@import "./controllforgrades.css";
@import "./managedrpart.css";
