#cards-child {
    background-color: white;
    width: 230px;
    height: 170px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding-top: 30px;
}

#cards-child-child {
    width: 100%;
    height: 30px;
    background-color: #227DF9;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    bottom: 0%;
}

#cards-child-child-btns {
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    padding: 0px 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFF;
}

#btnactive {
    width: 35%;
    height: 84%;
    font-size: 11px;
    font-weight: normal;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    float: right;
    box-shadow: 1px#f92222;
    padding-top: 2.7px;
    margin-top: 3px;
}

#btndisplay {
    width: 35%;
    height: 84%;
    font-size: 11px;
    font-weight: normal;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    float: left;
    box-shadow: 1px#227DF9;
    padding-top: 2.7px;
    margin-top: 3px;
}

#archieve-dropdwon {
    width: 100px;
    font-size: 12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    border: none;
    margin-top: -30px;
    margin-left: 40%;
    position: absolute;
}

.textdrop {
    float: right;
    padding-left: 90px;
    color: #323131;
}

#btnOkYes {
    width: 60px;
    font-size: 12px;
    font-weight: normal;
    margin-right: 80%;
    margin-top: -10px;
    /* margin-top: 1px;
    position: absolute; */
}

#btnNO {
    width: 60px;
    font-size: 12px;
    font-weight: normal;
    margin-top: 1px;
    position: absolute;
    margin-right: 3%;
}


/* .hr3 {
    background-color: #ffffff;
    border: none;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    padding-top: 4px;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    position: fixed;
} */

#input-group {
    width: 300px;
    margin-left: 450px;
    height: 30px;
    box-shadow: 2px rgb(72, 72, 72);
    position: fixed;
}

.form-control {
    height: 33px;
}

#form-control {
    height: 33px;
    box-shadow: 1px rgb(72, 72, 72);
}

@media screen and (max-width: 1000px) {
    #input-group {
        margin-left: 300px;
    }
}

@media screen and (max-width: 890px) {
    #input-group {
        margin-left: 270px;
    }
}

@media screen and (max-width: 840px) {
    #input-group {
        margin-left: 200px;
    }
}

@media screen and (max-width: 740px) {
    #input-group {
        margin-left: 180px;
    }
}

@media screen and (max-width: 550px) {
    #input-group {
        width: 230px;
        margin-top: 5px;
        margin-left: 140px;
    }
    .form-control {
        height: 28px;
    }
    #form-control {
        width: 30px;
        height: 28px;
    }
}

@media screen and (max-width: 425px) {
    #input-group {
        width: 220px;
        margin-top: 5px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 370px) {
    #input-group {
        width: 200px;
        margin-top: 5px;
        margin-left: 80px;
    }
}
/* student main css grades */

#alltotal-degrees{
    width:20%;
    height:50px;
    font-size:10px;
    font-weight:normal ;
}
#avarage-rate-degrees{ 
    width:20%;
    height:50px;
    font-size:10px;
    font-weight:normal ;
    }
#prancipation-as-estimation-degrees{ 
    width:20%;
    height:50px;
    font-size:10px;
    font-weight:normal ;
}
@media screen and (max-width:440px) {
    #alltotal-degrees{
        width:22%;
    }
    #avarage-rate-degrees{ 
        width:22%;
    }
    #prancipation-as-estimation-degrees{ 
        width:22%;
    }
}
@media screen and (max-width:410px) {
    #alltotal-degrees{
        width:24%;
    }
    #avarage-rate-degrees{ 
        width:24%;
    }
    #prancipation-as-estimation-degrees{ 
        width:24%;
    }
}
@media screen and (max-width:360px) {
    #alltotal-degrees{
        width:27%;
    }
    #avarage-rate-degrees{ 
        width:27%;
    }
    #prancipation-as-estimation-degrees{ 
        width:27%;
    }
}
@media screen and (max-width:329px) {
    #alltotal-degrees{
        width:28%;
        margin-left: 1%;
    }
    #avarage-rate-degrees{ 
        width:28%;
        margin-left: 1%;
    }
    #prancipation-as-estimation-degrees{ 
        width:28%;
        margin-left: 1%;
    }
}

#card-img-schedule{
    margin-right: 5%;
  position: static;
    margin-bottom: 40px;
    display:block;
    
}
@media screen and (max-width:840px) {
    #card-img-schedule{
        margin-left: 1.5%;  
    }
}
@media screen and (max-width:800px) {
    #card-img-schedule{
        margin-left: 0%;
    }
}
@media screen and (max-width:767px) {
    #card-img-schedule{
        margin-left: 1%;    
    }
}
@media screen and (max-width:700px) {
    #card-img-schedule{
     
        margin-left: 2%;
        font-size: 13px;
        /* padding-right: 0%; */
    }
}
@media screen and (max-width:600px) {
    #card-img-schedule{
        margin-left: 0.8%;
        font-size: 12px;
        /* padding-right: 0%; */
    }
}
#card-title-schedule{
    width: 100%; 
    height:50px; 
    top:0%; 
    left:0%;
    box-shadow:none; 
    margin-left:0%;
    right:0%;  
    margin-top:0%; 
    padding-top:10px; 
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
    position: relative;
    /* position: static; */
}
@media screen and (max-width:450px) {
    #card-title-schedule{
        height: 40px;;
        /* padding-right: 0%; */
    }
}
@media screen and (max-width:370px) {
    #card-title-schedule{
        height: 30px;
        padding-top: 6px;
        /* padding-right: 0%; */
    }
}
