.cards-departments {
    width: 220px;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: static;
    transition: 1;
    -webkit-transition: 1;
    -moz-transition: 1;
    -ms-transition: 1;
    -o-transition: 1;
    padding-top: 10px;
}

.card-departments-child {
    width: 220px;
    height: 40px;
    background-color: #118DEC;
    color: white;
    margin-left: -1px;
    margin-right: 0px;
    font-size: 12px;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    bottom: 0%;
    position: absolute;
    margin-top: 11px;
    /* margin-top: 4.2%; */
}

/* #btn-studybookStudentsdropdown-levels {
    font-size: 12px;
    width: 140px;
    height: 30px;
    font-weight: normal;
    padding-left: 5px;
    margin-left: 40%;
    position: fixed;
    margin-top: 12px;
    display: inline;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    color: black;
    margin-right: 50%;
}

@media screen and (max-width: 850px) {
    #btn-studybookStudentsdropdown-levels {
        margin-left: 30%;
    }
}

@media screen and (max-width: 700px) {
    #btn-studybookStudentsdropdown-levels {
        margin-left: 40%;
    }
}

@media screen and (max-width: 550px) {
    #btn-studybookStudentsdropdown-levels {
        font-size: 10px;
        height: 30px;
        font-weight: normal;
        padding-left: 5px;
        width: 120px;
        position: fixed;
        margin-top: 10px;
        display: inline;
        box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
        color: black;
    }
}
@media screen and (max-width: 400px) {
    #btn-studybookStudentsdropdown-levels {
        margin-left: 35%;
    }
} */
.btn-group.btn_group_nav_departments {
    margin-left: 36%;
    margin-top: 51px;
    position: fixed;
}
.btn-departments-Navbar  {
    background-color: white;
    color: #0E70F2;
    top: -36px;
    text-align: center;
    padding: 8px 9px;
    /* width: 90px; */
    height: 35px;
    font-size: 12px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}
.btn.btn-departments-Navbar{
    background-color: white;
    color: #0E70F2;
    top: -36px;
    text-align: center;
    padding: 8px 9px;
    height: 35px;
    font-size: 12px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}
.btn-departments-Navbar:hover {
    background-color: #B4DAF6;
    color: #ffffff;
}
.btn.btn-departments-Navbar:hover {
    background-color: #B4DAF6;
    color: #ffffff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
@media screen and (max-width: 1140px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 30%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 1100px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 28%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 992px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 24%;
        /* margin-top: 51px; */
    }
    /* .btn-departments-Navbar {
        width: 80px;
        height: 30px;
        padding: 6px 9px;
        font-size: 10px;
    } */
}
@media screen and (max-width: 920px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 22%;
        /* margin-top: 56px; */
        /* position: fixed; */
    }
}
@media screen and (max-width: 882px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 19%;
        /* margin-top: 56px; */
        /* position: fixed; */
    }
   /* .btn-departments-Navbar {
        width: 70px;
        height: 30px;
        padding: 5px 8px;
        font-size: 10px;
    } */
}
@media screen and (max-width: 850px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 16%;
    }
}
@media screen and (max-width: 830px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 15.5%;
    }
}
/* @media screen and (max-width: 820px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 15%;
    }
} */
@media screen and (max-width: 800px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 15%;
    }
    .btn-departments-Navbar{
        font-size: 11px;
        padding: 8px 8px;
    }
    .btn.btn-departments-Navbar{
        font-size: 11px;
        padding: 5px 8px;
    }

}
@media screen and (max-width: 780px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 13%;
    }
}
@media screen and (max-width: 740px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 11%;
    }
  
}

@media screen and (max-width: 720px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 12%;
    } 
     .btn-departments-Navbar{
        font-size: 10px;
        padding: 9px 7px;
    }
    .btn.btn-departments-Navbar{
        font-size: 10px;
        padding: 5px 7px;
    }
}

@media screen and (max-width: 700px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 26%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 600px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 23%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 580px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 21%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 550px) {
    .btn-group.btn_group_nav_departments {
        margin-left: 24%;
        /* position: fixed; */
    }
}
@media screen and (max-width: 500px) {
    .btn-group.btn_group_nav_departments {
        display: none;
        /* position: fixed; */
    }
}

.btn.departmentNavbar_dropdown {
    display: none;
    /* position: fixed; */
}

@media screen and (max-width: 500px) {
    .btn.departmentNavbar_dropdown {
        font-size: 11px;
        font-weight: normal;
        /* padding-right: 1%;  */
        left: 42%;
        margin-top: 12px;
        display:flex;
        box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
        position: absolute;
        height: 30px;
        /* width: 90px; */
        padding-top: 15px;
        text-align: right;
        /* justify-content: space-around; */
        /* text-align: left; */
        /* padding-left: 0%; */
    }

}

@media screen and (max-width: 380px) {
    .btn.departmentNavbar_dropdown {
        left: 37%;
        /* width: 80px; */
    }
}
/* @media screen and (max-width: 300px) {
    .btn.departmentNavbar_dropdown {
      padding-right: 1%;
      font-size: 10px;
    }
} */

.textdropdown{
    margin-top: -9px;
    margin-left:10%;
    margin-right: 0%;
}
.btn.departmentAcademic_dropdown{
    font-size: 11px;
    font-weight: normal;
    margin-top: 55px;
    display:flex;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    position: absolute;
    height: 30px;
    /* width: 90px; */
    padding-top: 15px;
    right:20%;
float: right;
    /* padding-left: 0%; */
}
@media screen and (max-width: 930px) {
    .btn.departmentAcademic_dropdown{
        /* left: 37%; */
        right:22%;
    }
}
@media screen and (max-width: 900px) {
    .btn.departmentAcademic_dropdown{
        /* left: 37%; */
        right:24%;
    }
}
@media screen and (max-width: 850px) {
    .btn.departmentAcademic_dropdown{
        /* left: 37%; */
        right:26%;
    }
}
@media screen and (max-width: 700px) {
    .btn.departmentAcademic_dropdown{
        right:3%;
        padding-right: 1%;
        font-size: 10px;
    }
}

.input-group.input-search-admin {
    width: 250px;
    margin-left: 36%;
    height: 30px;
    box-shadow: 2px rgb(72, 72, 72);
    background-color: #ffffff;
    color: black;
    position: relative;
    margin-top: 55px;
}

@media screen and (max-width: 1000px) {
    .input-group.input-search-admin {
        margin-left: 300px;
    }
}
@media screen and (max-width: 950px) {
    .input-group.input-search-admin {
        margin-left: 270px;
    }
}
@media screen and (max-width: 870px) {
    .input-group.input-search-admin {
        margin-left: 220px;
    }
}
@media screen and (max-width: 800px) {
    .input-group.input-search-admin {
        margin-left: 180px;
    }
}
@media screen and (max-width: 740px) {
    .input-group.input-search-admin {
        margin-left: 160px;
        width: 220px;

    }
}
@media screen and (max-width: 700px) {
    .input-group.input-search-admin {
        margin-left: 240px;

    }
}
@media screen and (max-width: 650px) {
    .input-group.input-search-admin {
        margin-left: 210px;
    }
}
@media screen and (max-width: 600px) {
    .input-group.input-search-admin {
        margin-left: 190px;
        width: 200px;
    }
}
@media screen and (max-width: 575px) {
    .input-group.input-search-admin {
        margin-left: 170px;
        /* margin-top: 5px; */
    }
}
/* @media screen and (max-width: 550px) {
    .input-group.input-search-admin {
        margin-left: 160px;
        margin-top: 5px;

    }
} */
@media screen and (max-width: 515px) {
    .input-group.input-search-admin {
        margin-left: 140px;
    }
}
@media screen and (max-width: 480px) {
    .input-group.input-search-admin {
        margin-left: 140px;
        width:180px;
    }
}
@media screen and (max-width: 460px) {
    .input-group.input-search-admin {
        margin-left: 130px;
    }
}
    @media screen and (max-width: 430px) {
        .input-group.input-search-admin {
            margin-left: 115px;
        }
    }
    @media screen and (max-width: 400px) {
        .input-group.input-search-admin {
            margin-left: 100px;
        }
    }
@media screen and (max-width: 383px) {
    .input-group.input-search-admin {
        width: 170px;
        margin-left: 90px;
    }
}
@media screen and (max-width: 360px) {
    .input-group.input-search-admin {
        width: 160px;
        margin-left: 70px;  
        font-size: 9px;
      
    }
}
/* @media screen and (max-width: 350px) {
    .input-group.input-search-admin {
    }
} */
@media screen and (max-width: 330px) {
    .input-group.input-search-admin {
        width: 160px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 300px) {
    .input-group.input-search-admin {
        width: 150px;
        margin-left: 30px;
    }
}
.btn.btn-addAcademic {
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
    margin-left: 2%;
    margin-top: -30px;
    position: fixed;
}

@media screen and (max-width:992px) {
    .btn.btn-addAcademic {
        top: 130px;
    }
}

@media screen and (max-width:550px) {
    .btn.btn-addAcademic {
        font-size: 10px;
    }
}
@media screen and (max-width:400px) {
    .btn.btn-addAcademic {
        font-size: 9px;
        padding-right: 1px;
        padding-left:2px;
    }
}
@media screen and (max-width:370px) {
    .btn.btn-addAcademic {
        font-size: 10px;
        padding-right: 3px;
        padding-left:3px;
        margin-top: -70px;
    }
}
.btn.gendar{
    font-size: 11px;
    font-weight: normal;
    /* margin-top: 55px; */
    display:flex;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    /* position: absolute; */
    height: 30px;
    margin-left: 50%;
    /* width: 90px; */
    /* padding-top: 15px; */
    /* right:20%; */
/* float: right; */
    /* padding-left: 0%; */
}
.btn.dregree-of-siencistic{
    font-size: 11px;
    font-weight: normal;
    display:flex;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    height: 30px;
    margin-left: 50%;

}
.btn.studyingbooks-acade{
    font-size: 11px;
    font-weight: normal;
    display:flex;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    height: 30px;
    margin-left: 50%;
}

.btn.departments-sentnotifications{
    font-size: 11px;
    /* width: 110px; */
    height: 30px;
    font-weight: normal;
    padding-left: 5px;
    margin-left: 70%;
    margin-top: 55px;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    position: absolute;
    color: black;
    /* display:flex; */
    /* text-align: right; */
}


/* Responsive Styles */

@media screen and (max-width: 1100px) {
    .btn.departments-sentnotifications{
        margin-left: 65%;
    }
}

@media screen and (max-width:992px) {
    .btn.departments-sentnotifications{
        margin-left: 65%;
    }
}

@media screen and (max-width:930px) {
    .btn.departments-sentnotifications{
        margin-left: 63%;
    }
}

@media screen and (max-width:900px) {
    .btn.departments-sentnotifications{
        margin-left: 60%;
    }
}

@media screen and (max-width:826px) {
    .btn.departments-sentnotifications{
        margin-left: 55%;
    }
}

@media (max-width: 768px) {
    .btn.departments-sentnotifications{
        font-size: 10px;
        width: 100px;
    }
}

@media (max-width: 700px) {
    .btn.departments-sentnotifications{
        font-size: 10px;
        width: 100px;
        margin-left: 70%;
    }
}

@media (max-width: 550px) {
    .btn.departments-sentnotifications{
        font-size: 9px;
        width: 90px;
        margin-left: 65%;
    }
}

@media (max-width: 400px) {
    .btn.departments-sentnotifications{
        margin-left: 60%;
    }
}
@media (max-width:355px){
    .btn.departments-sentnotifications{
        margin-left:50%;
    }
}
.btn.spacific-studentsdropdown {
    font-size: 12px;
    /* width: 110px; */
    height: 30px;
    font-weight: normal;
    padding-left: 5px;
    margin-left: 400px;
    margin-top: 55px;
    /* display: inline; */
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    position: fixed;
    color: black;
}

@media (max-width: 1100px) {
    .btn.spacific-studentsdropdown {
        margin-left: 250px;
    }
}

@media (max-width: 900px) {
    .btn.spacific-studentsdropdown {
        margin-left: 200px;
    }
}

@media screen and (max-width:826px) {
    .btn.spacific-studentsdropdown {
        margin-left: 110px;
    }
}


/* @media (max-width: 700px) {
    #btn-spacific-studentsdropdown {
        font-size: 10px;
        width: 100px;
        margin-top: -75px;
    }
} */

@media (max-width: 550px) {
    .btn.spacific-studentsdropdown {
        font-size: 9px;
        width: 90px;
        /* margin-top: -23px; */
        margin-left: 20px;
        position: fixed;
    }
}
@media (max-width:355px){
    .btn.spacific-studentsdropdown{
        margin-top: 95px;
        left: 30%;
        right:30%;
    }
}

.btn.groups-sentnotifications {
    font-size: 11px;
    /* width: 110px; */
    height: 30px;
    font-weight: normal;
    padding-left: 5px;
    margin-left: 50%;
    margin-top: 55px;
    box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
    position: fixed;
    color: black;
}
@media screen and (max-width: 1100px) {
.btn.groups-sentnotifications {
    margin-left: 45%;
}
}

/* @media screen and (max-width:992px) {
#btn-groups-sentnotifications {
    margin-left: 65%;
}
} */

@media screen and (max-width:930px) {
.btn.groups-sentnotifications {
    margin-left: 43%;
}
}

@media screen and (max-width:900px) {
.btn.groups-sentnotifications {
    margin-left:40%;
}
}

@media screen and (max-width:826px) {
.btn.groups-sentnotifications {
    margin-left:35%;
}
}

@media (max-width: 768px) {
.btn.groups-sentnotifications {
    font-size: 10px;
    width: 100px;
}
}

@media (max-width: 700px) {
.btn.groups-sentnotifications {
    font-size: 10px;
    width: 100px;
    margin-left: 50%;
}
}

@media (max-width: 550px) {
.btn.groups-sentnotifications {
    font-size: 9px;
    width: 90px;
    margin-left: 40%;
}
}

@media (max-width: 400px) {
.btn.groups-sentnotifications {
    margin-left: 33%;
}
}
@media (max-width: 355px) {
    .btn.groups-sentnotifications {
        margin-left: 15%;
    }
    }
    /* @media (max-width: 325px) {
        .btn.groups-sentnotifications {
            margin-left: 15%;
        }
        } */
        .card.card-sentnotifications {
            width: 60%;
            height: 400px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            position: static;
        }
        
        @media screen and (max-width:700px) {
            .card.card-sentnotifications {
                width: 97%;
                margin-left: 1%;
            }
        }
        
        .card.card-sentnotifications-chating {
            width: 100%;
            height: 350px;
            background-color: #c0cfec;
            margin-top: 0px;
            box-shadow: none;
            margin-left: 0px;
            position: static;
        }
        
        .selectstudenttxet {
            margin-left: 620px;
            margin-top: 10px;
            font-size: 12px;
        }
        
        @media (max-width: 1100px) {
            .selectstudenttxet {
                font-size: 12px;
                margin-left: 450px;
            }
        }
        
        @media (max-width: 900px) {
            .selectstudenttxet {
                font-size: 12px;
                margin-left: 380px;
            }
        }
        
        @media screen and (max-width:826px) {
            .selectstudenttxet {
                margin-left: 270px;
            }
        }
        
        @media (max-width: 550px) {
            .selectstudenttxet {
                font-size: 10px;
                margin-left: 120px;
            }
        }
        #input-sentnotifications {
            height: 35px;
            box-shadow: 0px 0px 2px 0px rgb(67, 111, 206);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            margin-top: 0px;
            position: static;
        }
        
        .btn.btn-send {
            margin-top: -5px;
            height: 35px;
            margin-left: 5px;
            position: static;
        }
        .container.notification_chatting{
            padding-top: 10px;
            } 
        @media screen and (max-width:550px){
        .container.notification_chatting{
        padding-top: 40px;
        } 
        }
        
