    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        height: 100%;
        width: 170px;
        position: fixed;
        top: 50px;
        right: 0px;
        padding-top: 3px;
        /* Adjust to hide initially */
        background-color: #03174C;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        z-index: 3;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #bbb;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding-right: 15px;
        display: block;
    }

    .toggle-btn {
        font-size: 20px;
        cursor: pointer;
        color: white;
        padding: 10px;
    }

    .sidebaricon {
        float: right;
        margin-left: -8px;
        margin-top: -5px;
    }

    .sidebartext {
        font-size: 16px;
    }

    .hdr2 {
        background-color: rgb(255, 255, 255);
        height: 50px;
        width: 100%;
        color: #0E70F2;
        box-shadow: 0px 0px 5px 0px rgb(72, 72, 72);
        margin-top: -50px;
        position: fixed;
        z-index: 2;
    }

    .content {
        margin-right: 150px;
        /*Adjusttomatchthemin-widthofthesidebar*/
        transition: - 0.5s;
        text-align: center;
        background-color: #E9EEEF;
        margin-top: 95px;
        -webkit-transition: - 0.5s;
        -moz-transition: - 0.5s;
        -ms-transition: - 0.5s;
        -o-transition: - 0.5s;
        bottom: 200px;
        height: 100%;
        padding-bottom: 30px;
        scrollbar-width: none;
        scrollbar-height: none;
        -ms-overflow-style: none;
        overflow:auto;
        padding-bottom:50px;
    }
    /* @media screen and (max-width: 300px) {
    .sidebar {
        width: 50px;
    }
    .sidebartext {
        display: none;
    }
    .sidebar .toggle-btn {
        display: block;
    }
    .content {
        margin-right: 50px;
    }
    .hdr2 {
        margin-right: 50px;
    }
    .sidebar {
        right: -130px;
        /* Adjust to hide initially, and float to the right */
    /* }
    .content {
        margin-right: 50px;
    }
} */

    .btn-bottomNavbar {
        display: none;
    }

    .bottombaricon {
        display: none;
    }

    @media screen and (max-width: 700px) {
        .bottomNavbar {
            background-color: #03174C;
            height: 40px;
            width: 100%;
            margin: 0px;
            padding: 0px;
            position: fixed;
            bottom: 0;
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
        }
        .btn-bottomNavbar {
            background-color: #03174C;
            color: white;
            width: 70px;
            font-size: 8px;
            font-weight: bold;
            height: 35px;
            margin-top: 1px;
            padding: 5px;
            position: relative;
            border: none;
            display: inline;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        .bottombaricon {
            width: 15px;
            height: 15px;
            padding-top: -10px;
            top: 0px;
            display: inline;
        }
        /* .custom-width-icon {
        width: 20px !important;
        /* Use !important to ensure the style takes precedence */
        /* height: auto; */
        /* Maintain the aspect ratio */
        /* } */
        .bottomNavbartext {
            bottom: 0;
            margin-top: -20px;
        }
        .btn-bottomNavbar:hover {
            background-color: #3B5AAC;
        }
        .content {
            margin-right: 0px;
        }
        .hdr2 {
            margin-right: 0px;
            width: 100%;
        }
        .spaces {
            width: 50px;
        }
        .sidebar {
            display: none;
        }
    }
    @media screen and (max-width: 304px) {
        .btn-bottomNavbar { width: 60px;}
        /* .bottombaricon {} */
    }

    /* .hdr-subject {
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 80%;
    color: #0E70F2;
    margin-top: -50px;
    border: none;
    display: grid;
    margin-right: 150px;
transition: - 0.5s;
grid-template-columns: auto auto auto auto;
gap: 10px;
position: fixed;

}
*/

    .spaces {
        width: 450px;
        height: 45px;
        background-color: white;
        float: right;
        margin-top: 5px;
        color: #0E70F2;
        font-size: 13px;
        border: none;
        padding-left: 10px;
    }

    #subject-icon-hdr2 {
        /* left: -160px; */
       right:170px;
        position:absolute;
    }

    .subjectname {
        float: right;
        margin-top: 10px;
       margin-right:210px;
       /* text-align: right; */

        /* margin-left: 10px; */
    }

    /* .dep-sub-name {
        width: 75px;
        background-color: white;
        font-size: 10px;
        height: 35px;
        margin-top: 9px;
        margin-left: 5px;
        box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding-top: 10px;
        padding-left: 9px;
        padding-right: 10px;
    } */

    .dep-sub-name {
        width: 10%;
        background-color: white;
        font-size: 1vw;
        height: 30px;
        margin-top: 13px;
        margin-left: 5px;
        box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding: 6px;
        text-align: center;
        /* padding-left: 11px;
        padding-right: 10px; */
    }
    @media screen and (max-width: 850px;) {
        .dep-sub-name {
            width: 11%;
            font-size: 1.1vw;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media screen and (max-width: 800px) {
        .dep-sub-name {
            width: 11.5%;
            font-size: 1.1vw;
        }
    }
    @media screen and (max-width: 780px) {
        .dep-sub-name {
            width: 12%;
            font-size: 1.2vw;
        }
    }

    @media screen and (max-width: 780px) {
        .dep-sub-name {
            width: 12.5%;
            font-size: 1.2vw;
        }
    }
    @media screen and (max-width: 750px) {
        .dep-sub-name {
            width: 13%;
            font-size: 1.3vw;
        }
    }
    @media screen and (max-width: 700px) {
        .dep-sub-name {
            width: 13.5%;
            font-size: 1.4vw;
        }
    }
    @media screen and (max-width: 650px) {
        .dep-sub-name {
            width: 14%;
            font-size: 1.4vw;
        }
    }
    @media screen and (max-width: 600px) {
        .dep-sub-name {
            width: 14.5%;
            font-size: 1.5.5vw;
        }
    }

    @media screen and (max-width: 550px) {
        .dep-sub-name {
            width: 15%;
            font-size: 1.5vw;
            height: 25px;
            margin-top: 15px;
            padding-top: 7px;

        }
    }
    @media screen and (max-width: 500px) {
        .dep-sub-name {
            width: 15.5%;
            font-size: 1.6vw;
        }
    }
    @media screen and (max-width: 450px) {
        .dep-sub-name {
            width: 16.5%;
            /* font-size: 1.7vw; */
        }
    }
    @media screen and (max-width: 400px) {
        .dep-sub-name {
            width: 17.6%;
            font-size: 1.7vw;
        }
    }   @media screen and (max-width: 360px) {
        .dep-sub-name {
            width: 20%;
            font-size: 1.9vw;
        }
    }
    @media screen and (max-width: 320px) {
        .dep-sub-name {
            width: 21%;
            font-size: 2vw;
        }
    }
    @media screen and (max-width: 300px) {
        .dep-sub-name {
            width: 22%;
            font-size: 2.1vw;
        }
    }
    @media screen and (max-width: 280px) {
        .dep-sub-name {
            width: 24%;
            font-size: 2.2vw;
        }
    }
    @media screen and (max-width: 260px) {
        .dep-sub-name {
            width: 26%;
            font-size: 2.3vw;
        }
    }
    /* .cards-child {
        background-color: white;
        width: 170px;
        height: 150px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: 20px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .cards-child-child {
        width: 170px;
        height: 30px;
        background-color: #227DF9;
        color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
    } */

    @media screen and (max-width: 1274px) {
    #container-cards-subject{
    padding-right:3%;
    }
}
    @media screen and (max-width: 992px) {
    #container-cards-subject{
    padding-right:0.5%;
    padding-left:0%;
    }
    }
    @media screen and (max-width: 914px) {
    #container-cards-subject{
        padding-right:2%;
        /* padding-left:0%; */
    }
}
    /* @media screen and (max-width: 778px) {
    #container-cards-subject{

]    margin-right:3%;
    }
} */
    @media screen and (max-width: 768px) {
        #container-cards-subject{
        padding-left:0%;
        /* margin-right:6.6%; */
        padding-right:1%;
        }
    }
    /* @media screen and (max-width: 700px) {
        #container-cards-subject{
        padding-left:1%;
        padding-right:0.5%;
        margin-right:9.5%;
        align-items:center;
        }
    } */
    #cards-child-subject {
        background-color: white;
        width: 170px;
        height: 150px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: 20px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .cards-child-child {
        width: 170px;
        height: 30px;
        background-color: #227DF9;
        color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        /* margin-top: 20px; */
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        bottom: 0%;
        position: absolute;
        margin-left: 0px;
        margin-right: 0px;
    }
    /* @media screen and (max-width: 1274px) {
        #cards-child-subject {
            left:0%;
            }
        }
        @media screen and (max-width: 1265px) {
            #cards-child-subject {
                right:5%;
                }
            } */
    @media screen and (max-width: 914px) {
        #cards-child-subject {
            margin-left: 20px;
             /* padding-left:0%; */
        }
    }
    @media screen and (max-width: 778px) {
        #cards-child-subject {
            margin-left: 5px;
             /* padding-left:0%; */
        }
    }
    @media screen and (max-width: 354px) {
    #cards-child-subject {
            width: 150px;
            padding-top: 10px;
        }
        .cards-child-child {
            width: 150px;
            margin-top: 20px;
        }
        .imgs-boards{
            width: 80px;
        }
    }
    @media screen and (max-width: 314px) {
    #cards-child-subject {
            width: 140px;
        }
        .cards-child-child {
            width: 140px;
        }
    }
    @media screen and (max-width: 295px) {
        #cards-child-subject {
            width: 130px;
        }
        .cards-child-child {
            width: 130px;
        }
    }

    @media screen and (max-width: 700px) {
        .spaces {
            width: 200px;
            float: right;
        }
        #subject-icon-hdr2 {
            float: right;
            right: 0px;
            /* position: absolute; */
        }
        .subjectname {
            /* float: left; */
            margin-right: 40px;
        }
    }

    @media screen and (max-width: 550px) {
        /* .dep-sub-name {
            width: 60px;
            font-size: 9px;
            height: 25px;
            padding-left: 10px;
            margin-top: 15px;
            padding-top: 5px;
        } */
        .dep-icon-hdr2 {
            display: none;
        }
        .subjectname {
            display: none;
        }
        #subject-icon-hdr2 {
            top:6px ;
        }
    }

    @media screen and (max-width: 500px) {
        .spaces {
            width: 40px;
        }
    }

    #notification-bord-messages {
        background-color: #a8b0c0;
        overflow: auto;
        padding-bottom: 70px;
        padding-right: 40px;
    }

    .recivers-notif {
        margin-top: 1%;
    }

    #recivers-notifi-Messages {
        width: 100%;
        background-color: #f8fcfe;
        font-size: 11px;
        font-weight: normal;
        height: 10%;
        box-shadow: 1px rgb(211, 222, 248);
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        padding: 5px;
        text-align: right;
        color: black;
        margin-top: 5px;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    /* .sendingdate {
        float: left;
        font-size: 10px;
        color: #5b5b5c;
        position: absolute;
        bottom: 0%;
    } */

    .recivin-notifi-date {
        float: left;
        font-size: 10px;
        color: #5b5b5c;
        position: absolute;
        bottom: 0%;
    }

    .sender-notifi {
        float: right;
        font-size: 10px;
        color: #5b5b5c;
        position: absolute;
        top: 0%;
        /* margin-left: 100%; */
        right: 0%;
        margin-right: 2%;
    }
     /* main css students */

     .dep-name {
        width: 10%;
        background-color: white;
        font-size: 1vw;
        height: 30px;
        margin-top: 13px;
        margin-left: 5px;
        box-shadow: 0px 0px 2px 0px rgb(72, 72, 72);
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
    }
    @media screen and (max-width: 850px) {
        .dep-name {
            width: 10%;
            font-size: 1.1vw;
        }
    }
    @media screen and (max-width: 800px) {
        .dep-name {
            width: 10.5%;
            font-size: 1.1vw;
        }
    }
    @media screen and (max-width: 780px) {
        .dep-name {
            width: 11%;
            font-size: 1.2vw;
        }
    }

    @media screen and (max-width: 780px) {
        .dep-name {
            width: 11%;
            font-size: 1.2vw;
        }
    }
    @media screen and (max-width: 750px) {
        .dep-name {
            width: 12%;
            font-size: 1.3vw;
        }
    }
    @media screen and (max-width: 700px) {
        .dep-name {
            width: 13%;
            font-size: 1.4vw;
        }
    }
    @media screen and (max-width: 650px) {
        .dep-name {
            width: 13%;
            font-size: 1.4vw;
        }
    }
    @media screen and (max-width: 600px) {
        .dep-name {
            width: 14.5%;
            font-size: 1.5.5vw;
        }
    }

    @media screen and (max-width: 550px) {
        .dep-name {
            width: 14%;
            font-size: 1.5vw;
            height: 25px;
            margin-top: 15px;
            padding-top: 7px;
        }
    }
    @media screen and (max-width: 500px) {
        .dep-name {
            width: 15%;
            font-size: 1.6vw;
        }
    }
    @media screen and (max-width: 450px) {
        .dep-name {
            width: 16%;
            /* font-size: 1.7vw; */
        }
    }
    @media screen and (max-width: 400px) {
        .dep-name {
            width: 17%;
            font-size: 1.7vw;
        }
    }   @media screen and (max-width: 360px) {
        .dep-name {
            width: 19%;
            font-size: 1.9vw;
        }
    }
    @media screen and (max-width: 320px) {
        .dep-name {
            width: 20%;
            font-size: 2vw;
        }
    }
    @media screen and (max-width: 300px) {
        .dep-name {
            width: 21%;
            font-size: 2.1vw;
        }
    }
    @media screen and (max-width: 280px) {
        .dep-name {
            width: 23%;
            font-size: 2.2vw;
        }
    }
    @media screen and (max-width: 260px) {
        .dep-name {
            width: 25%;
            font-size: 2.3vw;
        }
    }
    #btn-group-mainpage {
        margin-left: 40%;
        margin-top: 65px;
        position: fixed;
    }

    #btn-mainpageNavbar {
        background-color: white;
        color: #0E70F2;
        top: -50px;
        text-align: center;
        padding: 10px 11px;
        width: 90px;
        height: 35px;
        font-size: 11px;
        border: none;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
        font-weight: normal;
    }

    /* Responsive Styles */

    @media screen and (max-width: 1100px) {
        #btn-group-mainpage {
            margin-left: 35%;
        }
    }
    @media screen and (max-width: 992px) {
        #btn-group-mainpage {
            margin-left: 32%;
        }
        #btn-mainpageNavbar {
            padding: 7px 8px;
            width: 80px;
            height: 30px;
            font-size: 10px;
            top: -45px;
        }
    }

    /* @media screen and (max-width: 930px) {
    #btn-group-mainpage {
                margin-left: 12%;
            }
        }
         */
    /* @media screen and (max-width: 860px) {
    #btn-group-mainpage {
                padding: 5px 8px;
                width: 70px;
                margin-left: 17%;
                top: 84px;
            }
        } */
    /* @media (max-width: 799px) {
    #btn-group-mainpage {
                display: none;
            }
        } */

    @media screen and (max-width: 850px) {
        #btn-group-mainpage {
            margin-left: 28%;
        }
    }

    @media screen and (max-width: 740px) {
        #btn-group-mainpage {
            margin-left: 24%;
        }
    }

    @media screen and (max-width: 700px) {
        #btn-group-mainpage {
            margin-left: 34%;
        }
    }

    @media screen and (max-width: 500px) {
        #btn-group-mainpage {
            margin-left: 30%;
        }
    }
    @media screen and (max-width: 400px) {
        #btn-group-mainpage {
            margin-left: 28%;
        }
    }
    @media screen and (max-width: 380px) {
        #btn-group-mainpage {
            margin-left: 27%;
        }
    }
    @media screen and (max-width: 360px) {
        #btn-group-mainpage {
            margin-left: 25%;
        }
    }
    @media screen and (max-width: 340px) {
        #btn-group-mainpage {
            margin-left: 21%;
        }
    }
    @media screen and (max-width: 320px) {
        #btn-group-mainpage {
            margin-left: 19%;
        }
    }
    @media screen and (max-width: 310px) {
        #btn-group-mainpage {
            margin-left: 18%;
        }
    }
    @media screen and (max-width: 300px) {
        #btn-group-mainpage {
            margin-left: 19%;
        }
        #btn-mainpageNavbar {
            padding: 7px 8px;
            width: 70px;
            /* height: 30px;
            font-size: 10px;
            top: -45px; */
        }
    }
    #btn-mainpageNavbar:hover {
        background-color: #B4DAF6;
        color: #ffffff;
    }
