    * {
        margin: 0px;
        padding: 0pxs;
    }
    
    .header {
        background-color: rgb(0, 0, 255);
        max-height: 50px;
        top: 0;
        width: 100%;
        padding: 10px;
        position: fixed;
        z-index: 2;
    }
    /*button{

background-color:rgb(0, 0, 255);
max-width: 180px;
max-height: 33px;
text-align: left;
border: 1px solid white;
border-radius: 20px;
border: 0px;
color: aliceblue;
font-size: 10px;    
}*/
    
    .user {
        font-size: 9px;
        float: right;
        padding: 3px;
        margin-top: -24px;
        margin-right: 40px;
    }
    
    .user-icon {
        float: right;
        height: 29px;
        width: 29px;
        border-radius: 100%;
        margin-left: 100px;
        margin-top: -5px;
    }
    
    #notification {
        margin-left: 170px;
        margin-top: -36px;
        margin-bottom: 70px;
        border: none;
        background-color: rgb(0, 0, 255);
        z-index: 3 !important;
        position: relative;
    }
    
    .notification {
        margin-left: 170px;
        margin-top: -36px;
        margin-bottom: 70px;
        z-index: 3;
        position: relative;
        /* border: none;
        background-color: rgb(0, 0, 255);
        z-index: 3 !important;
        position: relative; */
    }
    
    @media screen and (max-width: 500px) {
        #button-header {
            width: 80px;
        }
        .user {
            display: none;
        }
        .user-icon {
            margin-right: 10px;
            margin-left: 5px;
        }
    }
    
    .img10 {
        float: right;
        margin-left: 15px;
    }
    
    div.card {
        width: 220px;
        height: 220px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: 20px;
        margin-left: 15px;
        display: inline-block;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    /* .card-child-1 {
        width: 220px;
        height: 70px;
        background-color: #118DEC;
        color: white;
        margin-top: 0px;
        margin-left: -1px;
        margin-right: 0px;
        font-size: 12px;
        padding-top: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    } */
    .card-child-1 {
        width: 220px;
        height: 70px;
        background-color: #118DEC;
        color: white;
        margin-left: -1px;
        margin-right: 0px;
        font-size: 12px;
        padding-top: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        bottom: 0%;
        position: absolute;
    }
    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
            transition: 2;
            -webkit-transition: 2;
            -moz-transition: 2;
            -ms-transition: 2;
            -o-transition: 2;
        }
    }
    
    @media only screen and (max-width: 700px) {
        .responsive {
            width: 100%;
        }
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .img1manu {
        float: right;
        margin-top: 9px;
        margin-left: 80%;
    }
    
    .btn-group2 .button2 {
        background-color: #ffffff;
        border: none;
        height: 35px;
        color: #0E70F2;
        padding: 5px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        cursor: pointer;
        margin-top: -49px;
    }
    
    .btn-group2 .button:hover2 {
        background-color: #B4DAF6;
        text-decoration: none;
        color: #ffffff;
    }
    
    .button:active {
        background-color: #A0C6F9;
        opacity: 21%;
    }
    
    #active {
        background-color: #a9cbf7;
        text-decoration: none;
        border-bottom: 4px solid #2f81ec;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        background-color: #ffffff;
        position: relative;
        top: 15px;
        left: 36%;
        width: 30%;
        height: 10%;
        box-shadow: none;
        text-decoration: none;
    }
    
    li {
        float: left;
        display: block;
    }
    
    li a {
        display: block;
        color: #0E70F2;
        text-align: center;
        padding: 8px 9px;
        text-decoration: none;
        width: 70px;
        height: 35px;
        font-size: 12px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        z-index: 2;
    }
    
    li a:hover:not(.active) {
        background-color: #B4DAF6;
        text-decoration: none;
        color: #ffffff;
    }
    
    .active {
        background-color: #a9cbf7;
        text-decoration: none;
        border-bottom: 4px solid #2f81ec;
    }
    
    @media screen and (max-width: 915px) {
        .header {
            z-index: 2;
        }
        ul {
            width: 220px;
            height: 30px;
            margin-left: -40px;
            margin-bottom: 30px;
            top: 20px;
        }
        li {
            float: left;
        }
        li a {
            display: inline-block;
            color: #0E70F2;
            text-align: center;
            padding: 8px 9px;
            text-decoration: none;
            width: 70px;
            height: 30px;
            font-size: 10px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            right: 20px;
        }
        li a:hover:not(.active) {
            background-color: #B4DAF6;
            color: #ffffff;
        }
        .active {
            background-color: #a9cbf7;
            border-bottom: 2px solid #2f81ec;
        }
    }
    
    .mainbox {
        display: inline;
    }
    /* sidebar css code
body {
margin: 0;
font-family: Arial, sans-serif;

}

.sidebar {

height: 100%;
width: 200px;
position: fixed;
top: 0;
right: -170px; /* Adjust to hide initially */
    /* background-color: #111;
overflow-x: hidden;
transition: 0.5s;
display: flex;
flex-direction: column;
}

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar li {
padding: 10px;
text-align: center;
border-bottom: 1px solid #bbb;
}

.sidebar a {
text-decoration: none;
color: white;
font-size: 18px;
display: block;
}

.toggle-btn {

font-size: 20px;
cursor: pointer;
color: white;
padding: 10px;
}

.content .hdr2 {
margin-right: 60px; /* Adjust to match the min-width of the sidebar */
    /*transition: margin-right 0.5s;
padding: 16px;
text-align: center;
}

@media screen and (max-width: 400px) {
.sidebar {
width: 50px;
}

.sidebar .toggle-btn {
display: block;
}

.content {
margin-right: 50px;
}
.sidebar {
right: -170px; /* Adjust to hide initially, and float to the right */
    /* }

.content {
margin-right: 50px;
}
}*/
    
    .btn-group .button-sidebar {
        background-color: #04AA6D;
        /* Green */
        border: 1px solid green;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        cursor: pointer;
        width: 150px;
        display: table;
        float: right;
    }
    
    .btn-group .button-sidebar:not(:last-child) {
        border-bottom: none;
        /* Prevent double borders */
    }
    
    .btn-group .button-sidebar:hover {
        background-color: #3e8e41;
    }
    
    .button-sidebar {
        background-color: #03174C;
        color: white;
        font-size: 12px;
        font-weight: bold;
        height: 40px;
        border: none;
        text-align: center;
        padding-top: 12px;
    }
    
    .button-sidebar:hover {
        background-color: #3B5AAC;
        color: #ffffff;
    }
    
    .button-a {
        text-decoration: none;
        color: #ffffff;
    }